# PostgreSQL
POSTGRES_DB=library_db
POSTGRES_USER=library_user
POSTGRES_PASSWORD=library_pass

# Backend
PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://library_user:library_pass@localhost:5432/library_db

# Frontend
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql
